<md-toolbar class="md-primary md-hue-2">
  <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
    <form name="filterForm">
      <md-input-container md-no-float class="toolbar-input-container md-primary md-hue-3">
        <md-icon md-svg-icon="filter"></md-icon>
        <input name="filter" placeholder="filter by name"
               ng-model="$ctrl.filter"
               ng-model-options="$ctrl.filterModelOptions"
               ng-change="$ctrl.onFilterChange()">
      </md-input-container>

      <md-input-container class="input-container-button" ng-if="$ctrl.filter">
        <md-button class="md-icon-button" aria-label="Clear filter"
                   ng-click="$ctrl.clearFilter()">
          <md-icon md-svg-icon="clear"></md-icon>
        </md-button>
      </md-input-container>
    </form>

    <md-button ui-sref="course-create">
      <md-icon md-svg-icon="add"></md-icon> Create Course</md-button>
  </div>
</md-toolbar>

<loading-block is-loading="$ctrl.isLoading">
  <div ng-show="$ctrl.courses.length === 0" class="centered">
    <div class="centered__content md-title">
      <p ng-if="$ctrl.filter">
        No courses found
      </p>
      <p ng-if="!$ctrl.filter">
        There are no courses
      </p>
    </div>
  </div>

  <md-content ng-if="$ctrl.courses.length > 0" flex="grow" layout-padding>
    <md-card ng-repeat="course in $ctrl.courses" layout="row">
      <div flex="grow">
        <md-card-title>
          <md-card-title-text layout="row" layout-align="space-between">
            <div>
              <span class="md-headline inline-text-block">{{ course.name }}</span>
              <span class="md-title inline-text-block">{{ course.durationMinutes | duration }}</span>
            </div>
            <span class="md-title inline-text-block">{{ course.date | date:"dd.MM.yyyy" }}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          {{ course.description }}
        </md-card-content>
      </div>

      <md-card-actions layout="column" layout-align="space-between" class="card-actions-vertical">
        <md-button ui-sref="course-update({ courseId: course.id })" class="md-raised md-primary">
          <md-icon md-svg-icon="edit"></md-icon> Edit</md-button>
        <md-button class="md-warn" ng-click="$ctrl.deleteCourse($event, course)">
          <md-icon md-svg-icon="delete"></md-icon> Delete</md-button>
      </md-card-actions>
    </md-card>
  </md-content>
</loading-block>