<md-toolbar layout="row">
  <div class="md-toolbar-tools">
    <h1 flex md-truncate class="md-headline">HEADER</h1>

    <login-widget></login-widget>
  </div>

</md-toolbar>

<md-content ui-view flex="grow" layout="column" layout-align="center stretch" class="md-primary hue-3">

</md-content>
<!--<div ui-view flex="grow" layout="column" layout-align="center stretch" class="md-primary hue-3"></div>-->

<md-toolbar layout="row" layout-align="center center" class="md-subhead">
  &copy; 2017 FakeStudyCorp. All rights reserved. Kind of
</md-toolbar>