<md-toolbar layout="row">
  <div class="md-toolbar-tools">
    <h1 flex md-truncate class="md-headline">
      <breadcrumbs></breadcrumbs>
    </h1>

    <login-widget></login-widget>
  </div>

</md-toolbar>

<md-content ng-hide="$ctrl.isLoading" id="content" ui-view flex="grow" layout="column" class="md-primary">

</md-content>

<div ng-show="$ctrl.isLoading" flex="grow" layout="row" layout-align="center center">
  <md-progress-circular md-diameter="70"></md-progress-circular>
</div>

<md-toolbar layout="row" layout-align="center center" class="md-subhead">
  <span md-truncate>&copy; 2017 FakeStudyCorp. All rights reserved. Kind of</span>
</md-toolbar>