/**
 * Vendor styles go here
 **/

@import '~angular-material/angular-material.css';

/**
 * Global styles go here
**/

#app-container {
  height: 100%;
}

#login-page {
  margin: 0 auto;
}

.hint {
  color: rgba(255, 255, 255, 0.5);
}
